@charset "UTF-8";


body{
    background-image:linear-gradient(to right,#818274,#A3AB78 )
}

main{
    background-color:white;
    padding: 10px;
    border-radius: 10px;
    width: 600px;
    margin: auto;
    

}

h1{
    color: #10454F;
    text-align: center;
}

h2{
    color: #505f18;
    text-align: center;
}