@charset "pt-br";


@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@font-face {
    font-family: 'poesia';
    src: url('../Fontes/Sriracha/Sriracha-Regular.ttf') format('truetype');
    font-weight: normal;

}

@font-face {
    font-family: 'passion one';
    src: url('../Fontes/Passion_One/PassionOne-Bold.ttf') format('truetype');
    font-weight: normal;
}


*{
    padding: 0px;
    margin: 0px;


}

:root{
    --font-titulo: 'passion one';
    --font-poesia: 'poesia';

}



header{  
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    height: 250px;
}

header > h1{
    padding-top: 80px;
    font-size: 7vw;  /* Texto do título terá 7% da largura da tela */
    font-weight: bolder;
    font-family: var(--font-titulo);
    font-style: normal;
}

header > p{
    font-size: 17px;
    font-family:Arial, Helvetica, sans-serif;

}

header a{
    text-decoration: none;
    color: white;

}

header a:hover{
    text-decoration: underline;
}

main p {
    padding: 8px;
}

section#conteiner1{
    background-image: url('imagens/background001.jpg');
    height: 140vw;
    background-size: 100% 100%;
    background-position: right center;
    background-attachment: fixed;

}

article#conteúdo1{
    background-color: white;
    height: 50vw;   
    color: black;
    font-size: 3vw;
    padding: 50px 20px;
    font-family: var(--font-poesia)

}


article#conteúdo2{
    background-color: rgba(0, 0, 0, 0.326);
    height: 60vw;
    width: 40vw;
    margin: 50px 20px;
    color: white;
    font-size: 3vw;
    font-family: var(--font-poesia);
    
}


section#conteiner2{
    background-image: url('imagens/background002.jpg');
    background-size: 100% 100%;
    height: 200vw;
    background-attachment: fixed;
}

article#conteúdo3{
    background-color: white;
    padding: 50px 20px;
    font-size: 3vw;
    font-family: var(--font-poesia);   

}


article#conteúdo4{
    background-color: rgba(0, 0, 0, 0.316);
    color: white;
    margin: 50px 20px;
    height: 55vw;
    width: 40vw;
    font-family: var(--font-poesia);
    font-size: 3vw;
    
}

article#conteúdo5{
    padding: 50px 20px;
    font-family: var(--font-poesia);
    font-size: 3vw;

    
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    
}

footer a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
footer  a:hover{
    text-decoration:  underline;

}


